<?js
var data = obj;
var self = this;
?>
<div class="member">
	<table width="100%">
		<tr>
			<td width="500">
				<code><?js= data.attribs + name + (data.signature ? data.signature : '') ?></code>
			</td>
			<td class="highlight">

				<?js if (data.summary) { ?>
				<p class="summary"><?js= summary ?></p>
				<?js } ?>

				<?js if (data.description) { ?>
					<?js= data.description ?>
				<?js } else { ?>
					<span class="undocumented">undocumented</span>
				<?js } ?>

				<div class="more">
					<?js if (data.type && data.type.names) {?>
						<h5>Type:</h5>
						<ul class="common">
							<li>
								<?js= self.partial('type.tmpl', data.type.names) ?>
							</li>
						</ul>
					<?js } ?>

					<?js= this.partial('details.tmpl', data) ?>

					<?js if (data.fires && fires.length) { ?>
						<h5>Fires:</h5>
						<ul><?js fires.forEach(function(f) { ?>
							<li><?js= self.linkto(f) ?></li>
						<?js }); ?></ul>
					<?js } ?>

					<?js if (data.examples && examples.length) { ?>
						<h5>Example<?js= examples.length > 1? 's':'' ?></h5>
						<?js= this.partial('examples.tmpl', examples) ?>
					<?js } ?>
				</div>
			</td>
		</tr>


	</table>
</div>