<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>tg测试用例</title>
<style>
/* reset */
*{margin:0; padding:0;border:0;}
img{border:0;vertical-align:middle;}
ul,ol,dl{list-style:none;}
body {font-size:12px; font-family:arial, "Microsoft YaHei", simsun; line-height:20px}
</style>
</head>

<body>
<script src="../../src/mo.js"></script>
<script>
	var xx = mo.add('mo.ui.Tab', function(){

			var _public = this;

		var _private = {};

		/**
		 * public static作用域
		 * @alias mo.ui.Tab.
		 * @ignore
		 */
		var _static = this.constructor;

		_static.d = 44;

		console.log(_static)

		_public.constructor = function(){}

		_public.xx = 3;
	});

	var d = new mo.ui.Tab();
	var e = new mo.ui.Tab();




</script>

</body>
</html>
