<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="robots" content="all">
<meta name="author" content="Tencent-TGideas">
<meta name="Copyright" content="Tencent">
<meta name="Description" content="这里是meta:Description中的描述">
<meta name="Keywords" content="">
<title>PC提示 - 完全填写</title>
</head>
<body>

<script src="http://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
<script src="http://ossweb-img.qq.com/images/js/motion/pc-prompt.min.js"></script>
<script>
    window.PCPrompt = new mo.PCPrompt({
        url:'http://tgideas.github.io/motion/component/demo/pc-prompt/demo2.html',
        title:'Motion - 为移动设备而生',
        description:'Motion 是一款基于ZeptoJS，为移动终端Web应用量身定制的组件库，重点开发结合HTML5新特征的创新实用组件。为移动终端量身定制，完全针对触屏设备开发，将触屏设备上的体验做到极致；保持灵活性，提供大量的自定义事件接口，避免样式污染；实用创新组件，除了常用组件，Motion将重心放在触屏设备的创新组件开发。',
        preview:'img/demo.png',
        prefix:'pc',
        jump:function(){
            alert('点击“直接进入”')
        },
        init:function(){
            console.info('非PC用户，初始化移动端代码');
        }
    });

    PCPrompt.on('QRCodeOver', function(){
        console.info('QRCodeOver');
    });

    PCPrompt.on('QRCodeOut', function(){
        console.info('QRCodeOut');
    });
</script>
</body>
</html>