@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
html,body{height:100%}
body,input,button,textarea,select{font:12px/1.5 "microsoft yahei",Tahoma,Helvetica,Arial;color:#333}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
li,dd{list-style:none}
a{color:#d30000;text-decoration:none}
a:hover,a:active{text-decoration:underline}
section,article,aside,header,footer,nav,dialog,figure,hgroup{display:block}
body{border-top: 2px solid #343434;}

.main{padding-left: 0;padding-right: 0;}
.content{padding: 25px;border-left: 1px solid #c3c3c3;}

.sidebar{padding-left: 0;padding-right: 0;background-color: #e8e8e8;color: #343434;}
.sidebar nav{text-align: center;overflow: hidden;}
.sidebar li{height: 70px;line-height: 70px;transition:background-color .3s ease-in;}
.sidebar li.current{background-color: #00d07f}
.sidebar li.current a{color: #fff;}
.sidebar li:not(.current){border-bottom: 1px solid #c3c3c3;}
.sidebar li:not(.current):hover{background-color: #f5f5f5;}
.sidebar li:last-child{border-bottom: 0 none;}
.sidebar a{display: block;width: 100%;height: 100%;color: #343434}
.sidebar a:hover{text-decoration: none;}

footer{margin-top: 50px;padding: 50px;background-color: #343434;color:#eee;text-align: center;}

@media screen and (max-width: 600px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .sidebar{width: 100%;height:100% !important;}
}



code[class*="language-"],pre[class*="language-"]{color:#f8f8f2;text-shadow:0 1px rgba(0,0,0,0.3);font-family:Consolas,Monaco,'Andale Mono',monospace;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}
pre[class*="language-"]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}
:not(pre)>code[class*="language-"],pre[class*="language-"]{background:#343434}
:not(pre)>code[class*="language-"]{padding:.1em;border-radius:.3em}
.token.comment,.token.prolog,.token.doctype,.token.cdata{color:slategray}
.token.punctuation{color:#f8f8f2}
.namespace{opacity:.7}
.token.property,.token.tag,.token.constant,.token.symbol{color:#f92672}
.token.boolean,.token.number{color:#ae81ff}
.token.selector,.token.attr-name,.token.string,.token.builtin{color:#a6e22e}
.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string,.token.variable{color:#f8f8f2}
.token.atrule,.token.attr-value{color:#e6db74}
.token.keyword{color:#66d9ef}
.token.regex,.token.important{color:#fd971f}
.token.important{font-weight:bold}
.token.entity{cursor:help}
pre.line-numbers{position:relative;padding-left:3.8em;counter-reset:linenumber}
pre.line-numbers>code{position:relative}
.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.line-numbers-rows>span{pointer-events:none;display:block;counter-increment:linenumber}
.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}



.list-strong{display: -webkit-box;display: box;}
.list-strong li{-webkit-box-flex:1;box-flex:1;border: 1px solid #eee;border-left:3px solid #2b9100;margin-right: 20px;padding: 20px;border-radius: 5px;}
.list-strong li:last-child{margin-right: 0;}
.list-strong h3{font-size: 16px;}
.list-strong p{margin-top: 10px;}

.caption{;padding: 20px;background-color: #eee;text-align: center;}
.caption h3{font-size: 18px;font-weight: bold;}


.list-normal {overflow: hidden;height: auto;}
.list-normal dt{margin-bottom: 20px;padding: 20px;background-color: #eee;text-align: center;}
.list-normal dt h3{font-size: 18px;font-weight: bold;}
.list-normal dd{float: left;width: 22%;margin:0 4% 10px 0;border: 1px solid #ddd;padding: 5px;-webkit-box-sizing: border-box;box-sizing: border-box;}
.list-normal dd:nth-child(5), .list-normal dd:nth-child(9), .list-normal dd:nth-child(13){margin-right: 0;}
.list-normal h4 span{display: block;border-radius: 3px;padding: 5px; background-color: orange;color: #fff;text-align: center;font-size: 14px;}
.list-normal dd:nth-child(2) span{background-color: purple;}
.list-normal .des{height: 100px;overflow: hidden;text-overflow: ellipsis;}




.class-description {
    font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 130%;
	line-height: 140%;
	margin-bottom: 1em;
	margin-top: 1em;
}




.variation {
    display: none;
}

.optional:after {
	content: "opt";
	font-size: 60%;
	color: #aaa;
	font-style: italic;
	font-weight: lighter;
}





footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

*{text-decoration: none;}

h1
{
	font-size: 200%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 6px 0 9px 0;
}

h2
{
	font-size: 170%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 6px 0 3px 0;
}

.subsection-title 
{
	font-size: 14px;
	font-weight: normal;
	letter-spacing: -0.01em;
	margin-top: 16px;
	margin: 6px 0 3px 0;
	padding:0 15px;
	background-color: #eee;
}

h4
{
	font-size: 130%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin-top: 16px;
	margin: 18px 0 3px 0;
	color: #000;
}

h5, .container-overview .subsection-title
{
	font-size: 120%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 8px 0 3px 0;
}

h6
{
	font-size: 100%;
	letter-spacing: -0.01em;
	margin: 6px 0 3px 0;
	font-style: italic;
}

.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

.important
{
	font-weight: bold;
	color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
	font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.details { margin-top: 14px; }
.details dt { width:100px; float:left; border-left: 2px solid #DDD; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 50px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }

.description {
	margin-bottom: 1em;
	margin-top: 1em;
}

.code-caption
{
	font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 107%;
	margin: 0;
}

.prettyprint
{
	border: 1px solid #ddd;
}

.prettyprint code
{
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	font-size: 100%;
	line-height: 18px;
	display: block;
	padding: 4px 12px;
	margin: 0;
	background-color: #ffe;
	color: #000;
	border-left: 3px #ddd solid;
}

.params, .props
{
	border-spacing: 0;
	border: 0;
	border-collapse: collapse;
	width:100%;
}

.params .name, .props .name, .name code {
	color: #A35A00;
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	font-size: 100%;
}

.params td, .params th, .props td, .props th
{
	border: 1px solid #ddd;
	margin: 0px;
	text-align: left;
	vertical-align: top;
	padding: 4px 6px;
	display: table-cell;
}

.params thead tr, .props thead tr
{
	background-color: #efe;
	font-weight: bold;
}

.params .params thead tr, .props .props thead tr
{
	background-color: #fff;
	font-weight: bold;
}

.params th, .props th { border-right: 1px solid #ddd; }
.params thead .last, .props thead .last { border-right: 1px solid #ddd; }

.disabled {
    color: #454545;
}

.sub-nav{position: fixed;width: 140px;right: 0;top: 0;height: 100%;padding-left: 10px;background-color: #eee;}
.subsection-title{margin-top: 20px;}

.sub-nav h3{margin-top: 10px;font-weight: bold;}

.tab-trigger{height: 50px;margin-top: 20px;margin-bottom: 10px;}
.tab-trigger .subsection-title{margin: 0;padding: 0;}
.tab-trigger > li{float: left;width: 25%;text-align: center;}
.tab-trigger > li h3{border-right:1px solid #ddd;}
.tab-trigger li:last-child h3{border-right: 0 none;}
.tab-trigger .current h3{background-color: #00d884;color: #fff;}
h3.subsection-title{line-height: 50px;}


#output{display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);text-align: center;z-index: 1;}
#output canvas{margin: 200px auto 0 auto;border:10px solid #fff;border-radius: 10px;}



.details .inherited-from, .details .tag-source{ color:#999;}

.demo-content{position: relative;overflow: hidden;}
.demo-content iframe{float: left;width: 50%;
-webkit-box-sizing: border-box;padding-right: 10px}
.demo-content pre{width: 1000px;}
.demo-content .code{float: right;width: 50%;-webkit-box-sizing: border-box;overflow: auto}
.demo-content .cover{position: absolute;width: 50%;height: 100%;background-color: rgba(255,255,255,0);}


