<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>资源懒加载</title>
<script src="../../src/resource/zepto/zepto.min.js"></script>
<script src="http://127.0.0.1:1024/?u=lazyLoad&r=100"></script>
<style>
div{width:100%; height: 300px;}
p{min-height: 200px;}
img{width:100%; display: inline-block;}
</style>
</head>
<body>
<p><img data-original="http://c.hiphotos.baidu.com/image/pic/item/55e736d12f2eb93839a69035d7628535e4dd6f2a.jpg" src="###" alt=""></p>
<p><img data-original="http://c.hiphotos.baidu.com/image/pic/item/e4dde71190ef76c60d7211ec9f16fdfaae516751.jpg" src="###" alt=""></p>
<p><img data-original="http://a.hiphotos.baidu.com/image/pic/item/d4628535e5dde711382ca931a5efce1b9c16617f.jpg" src="###" alt=""></p>
<p><img data-original="http://d.hiphotos.baidu.com/image/pic/item/e61190ef76c6a7ef65d842e1fffaaf51f2de667f.jpg" src="###" alt=""></p>
<p><img data-original="http://g.hiphotos.baidu.com/image/pic/item/a6efce1b9d16fdfa01922c29b68f8c5495ee7b7f.jpg" src="###" alt=""></p>
<p><img data-original="http://f.hiphotos.baidu.com/image/pic/item/5d6034a85edf8db176f196a30b23dd54574e741e.jpg" src="###" alt=""></p>
<p><img data-original="http://h.hiphotos.baidu.com/image/pic/item/5fdf8db1cb134954b6c102a3544e9258d0094a1e.jpg" src="###" alt=""></p>
<p><img data-original="http://a.hiphotos.baidu.com/image/pic/item/024f78f0f736afc3e9876f57b019ebc4b745127c.jpg" src="###" alt=""></p>
<p><img data-original="http://g.hiphotos.baidu.com/image/pic/item/b219ebc4b74543a91490aafe1d178a82b901147c.jpg" src="###" alt=""></p>
<p><img data-original="http://h.hiphotos.baidu.com/image/pic/item/9a504fc2d5628535fa31821393ef76c6a7ef632a.jpg" src="###" alt=""></p>
<div data-original="http://d.hiphotos.baidu.com/image/pic/item/37d12f2eb9389b5054c9b3608635e5dde7116ec9.jpg"></div>
<div data-original="http://b.hiphotos.baidu.com/image/pic/item/8435e5dde71190ef57cdc1edcd1b9d16fdfa60c9.jpg"></div>
<div data-original="http://f.hiphotos.baidu.com/image/pic/item/95eef01f3a292df535a659dabe315c6035a8739c.jpg"></div>
<div data-original="http://g.hiphotos.baidu.com/image/pic/item/0eb30f2442a7d9338e2370bcaf4bd11372f00171.jpg"></div>
<div data-original="data.html" data-type="ajax"></div>
</body>
<script>
var lazyLoad = new mo.LazyLoad(document, {threshold:20});
lazyLoad.on('load', function(){
	console.log(arguments);
})
</script>
</html>