<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="robots" content="all">
<meta name="author" content="Tencent-TGideas">
<meta name="Copyright" content="Tencent">
<meta name="Description" content="这里是meta:Description中的描述">
<meta name="Keywords" content="">
<title>PC提示</title>
</head>
<body>

<script src="http://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
<script src="http://ossweb-img.qq.com/images/js/motion/pc-prompt.min.js"></script>
<script>
    window.PCPrompt = new mo.PCPrompt();
</script>
</body>
</html>