
<script>
function SetWinHeight(obj) { 
    var win=obj; 
    var body;
    if (document.getElementById)  { 
        if (win && !window.opera)  { 
            if (win.contentDocument && win.contentDocument.body.offsetHeight) {
                var height = win.contentDocument.body.offsetHeight; 
                win.height = height > 400 ? height : 400;
                body = win.contentDocument.body;
            } else if(win.Document && win.Document.body.scrollHeight) {
                var height = win.Document.body.scrollHeight
                win.height = height > 400 ? height : 400;
                body = win.Document.body;
            }
        } 
    } 
    var scripts = body.getElementsByTagName('script');
    var html = '';
    for(var i = 0; i < scripts.length; i++) {
        if(!scripts[i].src) {
            html = scripts[i].innerHTML;
            break;
        }
    }
    html = html.replace(/(\t|^)\s*\n/g, '');
    var tabNum = /^(\t*)\S/.exec(html)[1];
    if(tabNum) {
        var repStr = '(\\n|^)';
        for(var i = 0; i < tabNum.length; i++) {
            repStr += '\\t';
        }
        var rep = new RegExp(repStr , 'g');
        html = html.replace(rep, function(a,b){return b});

    }
    // html = html.replace(/\n/g, '<br/>');
    // html = html.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;');

    $(obj).next().height(win.height).find('code').html(html);

    if(Prism) Prism.highlightAll();
} 

</script>



<?js
    var self = this;
    docs.forEach(function(doc, i) {
    if(i > 0) return;
?>

<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
    <?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else { ?>

<section>
    
<!-- <header>
    <h2><?js if (doc.ancestors && doc.ancestors.length) { ?>
        <span class="ancestors"><?js= doc.ancestors.join('') ?></span>
    <?js } ?>
    <?js= doc.name ?>
    <?js if (doc.variation) { ?>
        <sup class="variation"><?js= doc.variation ?></sup>
    <?js } ?></h2>
    <?js if (doc.classdesc) { ?>
        <div class="class-description"><?js= doc.classdesc ?></div>
    <?js } ?>
</header>   -->

<article>
    <div class="container-overview">
    <?js if (doc.kind === 'module' && doc.module) { ?>
        <?js= self.partial('method.tmpl', doc.module) ?>
    <?js } ?>
    
    <?js if (doc.kind === 'class') { ?>
        <?js= self.partial('method.tmpl', doc) ?>
    <?js } else { ?>
        <?js if (doc.description) { ?>
            <div class="description"><?js= doc.description ?></div>
        <?js } ?>
        
        <?js= self.partial('details.tmpl', doc) ?>
        
<!--         <?js if (doc.examples && doc.examples.length) { ?>
            <h3>使用：<?js= doc.examples.length > 1? 's':'' ?></h3>
            <?js= self.partial('examples.tmpl', doc.examples) ?>
        <?js } ?> -->
    <?js } ?>
    </div>

    
    <?js if (doc.mixes && doc.mixes.length) { ?>
        <h3 class="subsection-title">Mixes In</h3>
        
        <ul><?js doc.mixes.forEach(function(a) { ?>
            <li><?js= self.linkto(a, a) ?></li>
        <?js }); ?></ul>
    <?js } ?>
    



    

    <?js
        var namespaces = self.find({kind: 'namespace', memberof: doc.longname}); 
        if (doc.kind !== 'globalobj' && namespaces && namespaces.length) { 
    ?>
        <h3 class="subsection-title">命名空间：</h3>
        
        <dl><?js namespaces.forEach(function(n) { ?>
            <dt><a href="namespaces.html#<?js= n.longname ?>"><?js= self.linkto(n.longname, n.name) ?></a></dt>
            <dd><?js if (n.summary) { ?><?js= n.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        var typedefs = self.find({kind: 'typedef', memberof: doc.longname}); 
        if (typedefs && typedefs.length && typedefs.forEach) { 
    ?>
        <h3 class="subsection-title">TypeDefs</h3>
        
        <dl><?js typedefs.forEach(function(e) { ?>
            <?js= self.partial('members.tmpl', e) ?>
        <?js }); ?></dl>
    <?js } ?>





    
    <?js
        var members = self.find({kind: 'member', memberof: title === 'Globals'? {isUndefined: true} : doc.longname});
        var methods = self.find({kind: 'function', memberof: title === 'Globals'? {isUndefined: true} : doc.longname});
        var events = self.find({kind: 'event', memberof: doc.longname}); 
    ?>

    <ul class="tab-trigger" >
      <?js if (doc.params && doc.params.length) { ?>
      <li><h3 class="subsection-title">参数</h3></li>
    <?js } ?>  
    <?js  if (members && members.length && members.forEach) {  ?>
        <li><h3 class="subsection-title">属性</h3></li>
    <?js } ?>
    <?js if (methods && methods.length && methods.forEach) {  ?>
        <li><h3 class="subsection-title">方法</h3></li>
    <?js } ?>
    <?js if (events && events.length && events.forEach) { ?>
        <li><h3 class="subsection-title">事件</h3></li>
    <?js } ?>
    </ul>

    <u class="tab-target">
      <?js if (doc.params && doc.params.length) { ?>
        <li><?js= self.partial('params.tmpl', doc.params) ?></li>
    <?js } ?>  
    <?js  if (members && members.length && members.forEach) {  ?>  
        <li><dl><?js members.forEach(function(p) { ?>
            <?js= self.partial('members.tmpl', p) ?>
        <?js }); ?></dl></li>
    <?js } ?> 
    <?js if (methods && methods.length && methods.forEach) {  ?>
        <li><dl><?js methods.forEach(function(m) { ?>
            <?js= self.partial('method.tmpl', m) ?>
        <?js }); ?></dl></li>
    <?js } ?>
    <?js if (events && events.length && events.forEach) { ?>
        <li><dl><?js events.forEach(function(e) { ?>
            <?js= self.partial('method.tmpl', e) ?>
        <?js }); ?></dl></li>
    <?js } ?>
    </u>

    <?js var demoNum = 1?>
    <?js if (doc.see && doc.see.length) {?>
        <?js doc.see.forEach(function(s){  s = s.split(' '); ?>
            <?js if(/html|htm$/i.test(s[0])){ ?>
        <h3 class="subsection-title"><?js= s[1] ?><span class="demo-acts"><a target="_blank" href="http://tgideas.github.io/motion/component/demo/<?js= s[0] ?>" class="btn btn-default demo-act-newwin"><span class="glyphicon glyphicon-new-window"></span>运行Demo</a><a href="javascript:void(0)" onclick="jQuery('#output').show().qrcode(jQuery(this).prev()[0].href)" class="btn btn-default demo-act-qrcode"><span class="glyphicon glyphicon-qrcode"></span>二维码</a></span></h3>
        <div class="demo-content">
            <pre class="code language-javascript"><code></code></pre>
        </div>
            <?js } ?>
        <?js }); ?>
    <?js } ?>
    


<div id="output"></div>


</article>

</section>  
<?js } ?>

<?js }); ?>



<script>
(function(){
    var Tab = function(target, trigger){
        var self = this;
        this.target = target;
        this.trigger = trigger;
        this.playTo(0);
        for(var i = 0; i < trigger.length; i ++) {
            (function(i){
                trigger[i].onclick = function(){
                    self.playTo(i);
                }
            })(i);
        }
    };

    Tab.prototype.playTo = function(n){
        for(var i = 0; i < this.target.length; i++) {
            this.target[i].style.display = 'none';
            this.trigger[i].className = '';
        }
        this.target[n].style.display = 'block';
        this.trigger[n].className = 'current';
    }
    new Tab(
        document.querySelectorAll('.tab-target > li'), 
        document.querySelectorAll('.tab-trigger > li')
    );

    $('#output').on('click', function(){
        $(this).empty().hide();
    });

    $('')

})()

</script>
