/* General Demo Style */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


body, html {display:block;height:100%; font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
.v-center{
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    top:50%;
}
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #333;
    background: #f9f9f9;
    font-size: 0.9em;
    overflow-x: hidden;

}

a {
	color: #999;
	text-decoration: none;
}

a:hover {
	color: #333;
}

.container,.main{
    height:100%;
    position:relative;
    z-index:2;
}
.overlay{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7);
    opacity:0;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
}

.container > header {
	padding: 1em 1.875em;
	margin-bottom: 2em;
	background: #f5f5f5;
	position: relative;
}

.inner {
	max-width: 65em;
	width: 100%;
	margin: 0 auto;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	text-align: left;
	font-weight: 400;
	float: left;
	width: 50%;
}

.container > header span {
	display: block;
	font-weight: 300;
	font-size: 75%;
	color: #c0c0c0;
	padding: 0 0 0.6em 0.1em;
}

.main > p {
	font-weight: 300;
	font-size: 1.1em;
	color: #999;
	text-align: center;
	padding: 2em;
}
.preloader{
    position:relative;
    margin:10px auto;
    width: 42px;
    height: 42px;
    -webkit-animation: preloader_6 5s infinite linear;
    -moz-animation: preloader_6 5s infinite linear;
    -ms-animation: preloader_6 5s infinite linear;
    animation: preloader_6 5s infinite linear;
}
.preloader span{
    width:20px;
    height:20px;
    position:absolute;
    background:red;
    display:block;
    -webkit-animation: preloader_6_span 1s infinite linear;
    -moz-animation: preloader_6_span 1s infinite linear;
    -ms-animation: preloader_6_span 1s infinite linear;
    animation: preloader_6_span 1s infinite linear;
}
.preloader span:nth-child(1){
background:#2ecc71;

}
.preloader span:nth-child(2){
left:22px;
background:#9b59b6;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    animation-delay: .2s;

}
.preloader span:nth-child(3){
top:22px;
background:#3498db;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    animation-delay: .4s;
}
.preloader span:nth-child(4){
top:22px;
left:22px;
background:#f1c40f;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
}

@-webkit-keyframes preloader_6 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes preloader_6_span {
   0% { -webkit-transform:scale(1); }
   50% { -webkit-transform:scale(0.5); }
   100% { -webkit-transform:scale(1); }
}


@-moz-keyframes preloader_6 {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-moz-keyframes preloader_6_span {
   0% { -moz-transform:scale(1); }
   50% { -moz-transform:scale(0.5); }
   100% { -moz-transform:scale(1); }
}

@-ms-keyframes preloader_6 {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(360deg);}
}
@-ms-keyframes preloader_6_span {
   0% { -ms-transform:scale(1); }
   50% { -ms-transform:scale(0.5); }
   100% { -ms-transform:scale(1); }
}

@-ms-keyframes preloader_6 {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(360deg);}
}
@keyframes preloader_6_span {
   0% { transform:scale(1); }
   50% { transform:scale(0.5); }
   100% { transform:scale(1); }
}                

