<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>横屏专竖项屏的提示</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
	请把页面转向竖屏
<script src="http://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
<script src="http://ossweb-img.qq.com/images/js/motion/landscape.min.js"></script>
<script>
	var Landscape = new mo.Landscape({
        mode:'landscape',//portrait,landscape
	    prefix:'Shine'
    });
</script>
</body>
</html>