<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>Loader-资源预加载</title>
<script src="http://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
<!-- <script src="http://ossweb-img.qq.com/images/js/motion/loader.min.js"></script> -->
<script src="http://127.0.0.1:1024?u=loader&debug=1"></script>
<style>
	div{width:200px; height: 60px; line-height: 60px}
</style>
</head>
<body>
	<p><button>开始加载资源</button></p>
	<div class="test1">
		我也是有内容的元素
	</div>
	<div class="test2">
		我是另外一个有北京的
	</div>
	<img src="" alt="">
</body>
<script>
$(function(){
	$('a').click(function(){
		$('<p><input type="text" placeholder="资源url"></p>').insertBefore('a');
	});

	var lock = false;
	$('button').click(function(){
		if(lock){return}
		lock = true;
		var _self = $(this);
		_self.html('加载中...（0%）');
		new mo.Loader({
				'.test1' : 'http://ossweb-img.qq.com/upload/webplat/info/tgideas/201504/1428478083_1436653066_5040_imageAddr.jpg',
				'.test2' : 'http://ossweb-img.qq.com/upload/webplat/info/tgideas/201504/1428478058_1436653066_4684_imageAddr.jpg',
				'img' : 'http://ossweb-img.qq.com/images/cf/web201105/index_b_bg01.jpg'
			},{
			loadType : 1,
			minTime : 300,
			onLoading : function(count,total){
				console.log('onloading:single loaded:',arguments)
				_self.html('加载中...（'+count/total*100+'%）');
			},
			onComplete : function(time){
				console.log('oncomplete:all source loaded:',arguments)
				_self.html('加载完成,总共耗时:'+time+'ms');
				setTimeout(function(){
					_self.html('开始加载资源');
					lock = false
				},2000)
			}
		})
	})
})
</script>
</html>