<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Film组件-多图及sprite图</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<script src="http://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
	<script src="http://digg.tgideas.qq.com/combine.php?u=film"></script>
</head>
<body>	
	<p>采用一张sprite图的形式</p>
	<div id="sprite"></div>
	<button onclick="spritePic.next()">下一帧</button>
	<button onclick="spritePic.prev()">上一帧</button>
	<button onclick="spritePic.jumpTo(5)">跳转到第五帧</button>
	<button onclick="spritePic.playByIndex(5,'forward')">向前播放到第5帧</button>
	<button onclick="spritePic.playByIndex(5,{playTime:100, direction:'backward'})">向后播放到第5帧,且单独定义了本次动画时间为100ms</button>
	<button onclick="spritePic.playByNum(50,'forward')">从当前位置往前播放50帧</button>
	<button id="custAniType">从当前位置往后播放50帧,自定义了本次动画运行轨迹</button>
	<button onclick="spritePic.play(5,'backward')">播放</button>
	<button onclick="spritePic.pause(5,'backward')">暂停</button>
	<p>每帧对应一张图片的形式</p>
	<div id="test"></div>
	<button onclick="multiplePic.next()">下一帧</button>
	<button onclick="multiplePic.prev()">上一帧</button>
	<button onclick="multiplePic.jumpTo(5)">跳转到第五帧</button>
	<button onclick="multiplePic.playByIndex(5,'forward')">向前播放到第5帧</button>
	<button onclick="multiplePic.playByIndex(5,'backward')">向后播放到第5帧</button>
	<button onclick="multiplePic.playByNum(50,'forward')">从当前位置往前播放50帧</button>
	<button onclick="multiplePic.playByNum(50,'backward')">从当前位置往后播放50帧</button>
	<button onclick="multiplePic.play(5,'backward')">播放</button>
	<button onclick="multiplePic.pause(5,'backward')">暂停</button>

<script>
var path = "http://ossweb-img.qq.com/images/cf/act/a20140415mgmobile/";
var resource = [];
for (var i = 1; i < 16; i++) {
	resource.push(path+'p'+i+'.png');
};
var createFilm = function(node, res){
	return new mo.Film(node,{
		resource : res,
		totalFrame : 15
	})
}
var multiplePic = createFilm(document.querySelector('#test'), resource);
var spritePic = createFilm(document.querySelector('#sprite'), 'http://cf.qq.com/aiden/sprite.png');

document.querySelector('#custAniType').addEventListener('click', function(){
	spritePic.playByNum(50,{
		aniType : function(t,b,c,d){
			return c*(t/=d)*t + b;
		},
		direction : 'backward'
	})
}, false)
</script>
</body>
</html>