<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>单帧单图形式</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<script src="http://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
<script src="http://digg.tgideas.qq.com/combine.php?u=film"></script>
</head>
<body>	
	<p>每帧对应一张图片的形式</p>
	<div id="test"></div>
	<button onclick="multiplePic.next()">下一帧</button>
	<button onclick="multiplePic.prev()">上一帧</button>
	<button onclick="multiplePic.jumpTo(5)">跳转到第五帧</button>
	<button onclick="multiplePic.playByIndex(5,'forward')">向前播放到第5帧</button>
	<button onclick="multiplePic.playByIndex(5,'backward')">向后播放到第5帧</button>
	<button onclick="multiplePic.playByNum(50,'forward')">从当前位置往前播放50帧</button>
	<button onclick="multiplePic.playByNum(50,'backward')">从当前位置往后播放50帧</button>
	<button onclick="multiplePic.play(5,'backward')">播放</button>
	<button onclick="multiplePic.pause(5,'backward')">暂停</button>

<script>
var path = "http://ossweb-img.qq.com/images/cf/act/a20140415mgmobile/";
var resource = [];
for (var i = 1; i < 16; i++) {
	resource.push(path+'p'+i+'.png');
};

var multiplePic = new mo.Film(document.querySelector('#test'),{
	resource : resource,
	totalFrame : 15
});
</script>
</body>
</html>