<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>Film组件-小人行走</title>
<style>
html,body,#scene{width:100px; height: 100%}
img{position: absolute; display: block; left:100px; top:100px;}
</style>
</head>
<body>
<div id="scene"></div>
<script src="http://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
<script src="http://digg.tgideas.qq.com/combine.php?u=film"></script>
<script>
var scene = document.getElementById('scene');
var frames = {
	down : ['hero_down_a.png','hero_down_b.png','hero_down_c.png','hero_down_d.png'],
	left : ['hero_left_a.png','hero_left_b.png','hero_left_c.png','hero_left_d.png'],
	up :   ['hero_up_a.png','hero_up_b.png','hero_up_c.png','hero_up_d.png'],
	right :['hero_right_a.png','hero_right_b.png','hero_right_c.png','hero_right_d.png']
}
var aniFrames = [];
for(var k in frames){
	frames[k].forEach(function(img, index){
		aniFrames.push('images/' + frames[k][index]);
	});
}
var cStyle = null, aniObj;
var posInfo = {}
var perFilm = new mo.Film(scene,{
	resource : aniFrames,
	onPlaying : function(curIndex){
		if(!cStyle){
			aniObj = scene.getElementsByTagName('img')[0];
			cStyle = window.getComputedStyle(aniObj, null);
			posInfo = {
				left : parseInt(cStyle.getPropertyValue('left')) || 0,
				top : parseInt(cStyle.getPropertyValue('top'))||0
			}
		}
		if(curIndex > 11){ //right
			aniObj.style.left = (posInfo.left+=10)+'px';
		}else if(curIndex > 7){ //top
			aniObj.style.top = (posInfo.top-=10)+'px';
		}else if(curIndex > 3){ //left
			aniObj.style.left = (posInfo.left-=10)+'px';
		}else{ //down
			aniObj.style.top = (posInfo.top+=10)+'px';
		}
	}
}).play(300,'forward');
</script>
</body>
</html>