<!DOCTYPE HTML>
<head>
<meta charset="utf-8">
<meta name="author" content="Tencent-TGideas">
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>Dialog-普通弹窗</title>

<style>
/* reset */
*{margin:0; padding:0;border:0;}
img{border:0;vertical-align:middle;}
ul,ol,dl{list-style:none;}
body, button {height: 100%;font-size:12px; font-family:arial, "Microsoft YaHei", simsun; line-height:20px}
.content p{margin: 60px;}
button{margin-left: 30px;background-color: #666;color: #fff;border-radius: 5px;padding: 5px;}
</style>
</head>

<body>
	<script src="http://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
	<script src="http://digg.tgideas.qq.com/combine.php?u=dialog"></script>
	<div class="content">
		<p>内容 <button>打开浮层</button></p>
		<p>内容</p>
		<p>内容</p>
		<p>内容</p>
		<p>内容</p>
		<p>内容</p>		
	</div>


	<script>
		
		$(function(){
			$('button').on('touchend', function(){
				window.dia1 = new mo.Dialog('你确定要这样做吗?'
);	
			})

		});

	</script>
</body>
</html>
