* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #000;
    background-color: #fff;
}


h1
{
    font-size: 220%;
    font-weight: normal;
    margin: 0 0 25px 0;
	white-space: nowrap;
}

h2
{
	color: #d70b28;
    font-size: 170%;
    font-weight: normal;
    margin: 0 0 14px 0;
}

h2 a {
	color: #d70b28 !important;
}

h3
{
    font-size: 150%;
    font-weight: normal;
    margin-top: 16px;
    margin: 0 0 16px 0;
	color: #1a1a1a;
}

h4
{
    font-size: 130%;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #d70b28;
}

h5 {
    font-size: 110%;
    font-weight: normal;
	font-weight: bold;
	font-weight: bold;
	color: #000;
	font-family: "Segoe UI Light";
}

h6
{
    font-size: 100%;
    margin: 0 0 10px 0;
    font-style: italic;
}


code {
	font-size: 120%;
}

a {
    color: #2e84e4;
}

a:visited {
    color: #2e84e4;
}

a:active {
    color: #2e84e4;
}

#header {
    padding: 6px 4px;
}

.class-description {
    font-style: italic;
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

#main {
	/* float: left; */
	/* width: 70%; */
	padding-left: 430px;
	padding-top: 20px;
	padding-right: 30px;
}

.variation {
    display: none;
}

.optional:before {
    content: "optional ";
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

#nav
{
    position: fixed;
	left: 0;
	top: 0;
    bottom: 0;
    width: 400px;
    border-left: 1px solid #ccc;
	background: #f4f8fd;
	border-left: 1px solid #dae8fa;
	box-shadow: inset 1px 0 0 #fff;
	padding-top: 10px;
	overflow-x: auto;

}

#nav ul {
    list-style-type:none;
    margin-bottom: 30px;
}

#nav h3 {
    margin: 0 16px 12px;
}

#nav li {
    margin: 0;
	padding: 0;
}

#nav a {
    color: #34567c;
	display: block;
	padding: 3px 16px;
	text-decoration: none;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#nav a.current {
	font-weight: bold;
	background: #fff;
	color: #2e84e4;
	text-decoration: none;
}

#nav a:visited {
    color: #34567c;
}

#nav a:active {
    color: #34567c;
	background: #fff;
}

#nav a:hover {
    color: #2e84e4;
	text-decoration: underline;
	background: #fff;
}

#footer {
	clear: both;
	padding: 12px 24px;
	margin-top: 30px;
	font-style: italic;
	font-size: 90%;
	background: #f3f3f3;
	margin-left: 430px;
	margin-bottom: 30px;
	margin-right: 30px;
}













.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
	font-family: "Segoe UI Light";
}

.important
{
    font-weight: bold;
    color: #d70b28;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
    font-family: monospace;
}




.code-caption
{
    font-style: italic;
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 107%;
    margin: 0;
}

.prettyprint
{
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
    font-family: monospace;
    font-size: 100%;
    display: block;
    padding: 0 12px;
    margin: 0;
    background-color: #fff;
    color: #000;
}

.prettyprint code span.line
{
	display: inline-block;
}

.prettyprint.linenums
{
	padding-left: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.prettyprint.linenums ol
{
	padding-left: 0;
}

.prettyprint.linenums li
{
	border-left: 1px #ddd solid;
	height: 24px;
	line-height: 24px;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected *
{
	background-color: lightyellow;
}

.prettyprint.linenums li:hover,
.prettyprint.linenums li:hover code {
	background: lightyellow;
}

.prettyprint.linenums li *
{
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.params,
.props
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

.params .name,
.props .name,
.name code {
    color: #A35A00;
    font-family: monospace;
    font-size: 100%;
}

.params td,
.params th,
.props td,
.props th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params thead tr,
.props thead tr
{
    background-color: #34567c;
    font-weight: normal;
	color: #fff;
}

.params thead tr th,
.props thead tr th {
	font-weight: normal;
}

.params .params thead tr,
.props .props thead tr
{
    background-color: #fff;
    font-weight: bold;
}

.params th,
.props th { border-right: 1px solid #aaa; }
.params thead .last,
.props thead .last { border-right: 1px solid #ddd; }

.params td.description > p:first-child
{
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}





.container-overview {
	margin-bottom: 26px;
}



.todo,
.deprecated,
.undocumented {
	display: inline-block;
	background: #d70b28;
	padding: 3px 6px;
	color: #fff;
	font-size: 90%;
	border-radius: 2px;
}

.todo {
	background: #5bc017;
}



.members {
	margin-bottom: 30px;
}


.member,
.method {
	border-bottom: 1px solid #dae8fa;
}

.member table,
.member td,
.method table,
.method td {
	border: 0;
}

.method td:first-child {
	padding-right: 25px;
}

.member table,
.method table {
	margin: 0;
}


/*
.member .more,
.method .more {
	display: none;
}
*/


.methods.hide-inherited .method.inherited {
	display: none;
}

.methods.hide-access-public .method.access-public {
	display: none;
}

.methods.hide-access-protected .method.access-protected {
	display: none;
}

.methods.hide-access-private .method.access-private {
	display: none;
}


td .arrow {
	width: 5px;
	height: 9px;
	background: url(../images/arrow-right.png) no-repeat;
	position: absolute;
	left: -20px;
	top: 7px;
	opacity: 0.3;

	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}

tr:hover .arrow {
	opacity: 0.7;
}

.open .arrow {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}




ul.common {
	list-style: none;
	margin-bottom: 40px;
}

ul.common li {
	padding-left: 18px;
	background: url(../images/bullet.png) left 13px no-repeat;
}












table {
	border: 0;
	margin: 0;
	border: 1px solid #dae8fa;
	border-bottom: 0;
	border-collapse: collapse;
	min-width: 75%;
	margin-bottom: 26px;
}



th,
td {
	border: 0;
	padding: 6px;
}

td {
	border: 1px solid #dae8fa;
	border-bottom: 0;
	vertical-align: top;
}

th {
	background: none;
	color: #34567c;
	font-weight: normal;
	text-align: left;
}

tbody tr:hover td,
tbody tr:hover th {
	background: none;
}

thead td,
thead th {
	background: #34567c;
}

thead td,
thead td a,
thead td a:link:hover,
thead td a:visited,
thead td a:visited:hover,
thead th,
thead th a,
thead th a:link:hover,
thead th a:visited,
thead th a:visited:hover {
	color: #fff;
}

table .highlight {
	background: #f4f8fd;
	color: #34567c;
}

table tr:hover .highlight {
	background: #e6f0fd;
}


table .highlight table td {
	background: #fff;
}


table .highlight h5 {
	margin: 14px 0;
}

table .highlight dl {
	margin-left: 14px;
}



.filter {
	background: #f3f3f3;
	padding: 10px;
	margin-bottom: 10px;
}

.filter label {
	margin-right: 10px;
	cursor: pointer;
}

.filter small {
	color: #aaa;
}

.filter .disabled {
	cursor: not-allowed;
}